{% extends 'base.html' %}
{% load static %}

{% block title %} {{ post.title_tag }} {% endblock %}

{% block content %}


<h1>{{ post.title }}</h1>
<small>By: {{ post.author.first_name }} {{ post.author.last_name }}
    - {{ post.post_date }}
    {% if user.is_authenticated %}
    {% if user.id == post.author.id %}
    -<a href="{% url 'update_post' post.pk %}">(Edit)</a>
    <a href="{% url 'delete_post' post.pk %}">(Delete)</a></small><br/>
{% endif %}
{% endif %}
<hr>
<br />

{% if post.header_image %}
<img width="50%" src="{{ post.header_image.url }}" >
{% endif %}

<br /><br>
{{ post.body|safe }}
<hr>
<br />
<form action="{% url 'like_post' post.pk %}" method="POST">
    {% csrf_token %}

    {% if user.is_authenticated %}
    {% if liked %}
    <button type="submit" , name="post_id" , value="{{ post.id }}" , class="btn btn-danger">unlike</button>
    {% else %}
    <button type="submit" , name="post_id" , value="{{ post.id }}" , class="btn btn-primary">Like</button>
    {% endif %}

    {% else %}

    <small><a href="{% url 'login' %} ">Login</a> to like</small>

    {% endif %}
    - {{total_likes}} Likes
</form>

<br><br>

<br><br>
<div class="card mb-3">
    <div class="row no-gutters">
        <div class="col-md-2">
{% if post.author.profile.profile_pic %} 
            <img src="{{ post.author.profile.profile_pic.url}}" 
            class="card-img">

{% else %}
             <img src="{% static 'theblog/images/profile_pic.png' %}" 
            class="card-img">

{% endif %}
        </div>
        <div class="col-md-10">
            <div class="card-body">
                <h5 class="card-title">
                    {{post.author.first_name}}
                    {{post.author.last_name}}
                </h5>
                <p class="small text-muted">
                    <a href="{% url 'show_profile_page' post.author.profile.id %}">
                        Profile Page |</a>
                    {% if post.author.profile.website %}
                    <a href="{{post.author.profile.website}}">
                        Website | </a>
                    {% endif %}

                    {% if post.author.profile.linkedin %}
                    <a href="{{post.author.profile.linkedin}}">LinkedIn | </a>
                    {% endif %}

                    {% if post.author.profile.facebook %}
                    <a href="{{post.author.profile.facebook}}">Facebook | </a>
                    {% endif %}

                    {% if post.author.profile.twitter %}
                    <a href="{{post.author.profile.twitter}}">Twitter </a>
                    {% endif %}

                </p>

                <p class="card-text">{{post.author.profile.bio}}</p>
            </div>
        </div>
    </div>
</div>
<br>
<h2>Comments</h2>
<br>

<a href="{% url 'add_comment' post.pk %}">Add Comments</a>
<br/><br/>
{% if not post.comments.all %}
    No comment Yet...
{% else %}
    {% for comment in post.comments.all %}
    <strong>{{comment.name}}-
    {{comment.date_added}}</strong>
    <br/>
    {{comment.body}}
    <br/>
    {% endfor%}
{% endif%}

{% endblock %}
